* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 10px 10px 30px 10px;
  background:#000;
  color:#fff;
  font-family:sans-serif;
}

.container {
  height: 100%;
  vertical-align:top;
}

.left {
  width:38%;
  display: inline-block;
  vertical-align:top;
  height: 100%;
}

.right {
  width:61%;
  display: inline-block;
  text-align:right;
  height: 100%;
}

.weather {
  width:70%;
  top: -38px;
  right: 0px;
  position: absolute;
  filter: opacity(100%) invert(1);
}

.time {
  font-size:9rem;
  display:block;
}

.merd {
  font-size:3rem;
}

.tiny {
  font-size:1rem;
}
.tinyday {
  width:50px;
  display:inline-block;
}

.day {
  font-size:3rem;
  display:block;
  margin-left:20px;
}

.date {
  font-size:2.5rem;
  display:block;
  margin-left:25px;
}

.weathernow {
  font-size:3.5rem;
  display:block;
  margin-top:65px;
  margin-left:25px;
  line-height:0.7;
}

.weathericon {
  width:100px;
  display:inline-block;
  top:26px;
  position:relative;
  fill: #fff;
}

.weatherdesc {
  font-size:1.5rem;
  display:block;
  margin-top:15px;
  margin-left:25px;
}
.weatherrain {
  font-size:1.2rem;
  display:block;
  margin-left:25px;
}
.weathermax {
  font-size:1.5rem;
  display:block;
  margin-left:25px;
}
.weathertomor {
  font-size:1.4rem;
  display:block;
  margin-top:65px;
  margin-left:25px;
  line-height:0;
}
.weathertomor .weathericon {
  width:36px;
  display:inline-block;
  top:10px;
  position:relative;
}

.dimmer-late-night-img {
  filter: opacity(0%);
}

.timer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  display: flex;
  gap: 14px;
  z-index: 1000;
  filter: opacity(0%) invert(1);
}

.timer-segment {
  flex: 1;
  background: #ccc;
  position: relative;
  overflow: hidden;
}

.timer-fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  background: #ff00bf;
}


