* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 30px 10px 30px 10px;
  background:#000;
  color:#fff;
  font-family:sans-serif;
}

.container {
  height: 100%;
  vertical-align:top;
}

.left {
  width:40%;
  display: inline-block;
  vertical-align:top;
  height: 100%;
}

.right {
  width:59%;
  display: inline-block;
  text-align:right;
  height: 100%;
}

.weather {
  width:100%;
  float:right;
}

.time {
  font-size:8rem;
  display:block;
}

.merd {
  font-size:3rem;
}

.day {
  font-size:5rem;
  display:block;
  margin-left:20px;
}

.date {
  font-size:3rem;
  display:block;
  margin-left:20px;
}

.dimmer-day {
  color: #ccc !important;
}

.dimmer-night {
  color: #666 !important;
}

.dimmer-late-night {
  color: #333 !important;
}

.dimmer-day-img {
  filter: opacity(100%) invert(1);
}

.dimmer-night-img {
  filter: opacity(50%) invert(1);
}

.dimmer-late-night-img {
  filter: opacity(0%) invert(1);
}




