* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 10px 10px 30px 10px;
  background:#000;
  color:#fff;
  font-family:sans-serif;
}

.container {
  height: 100%;
  vertical-align:top;
}

.left {
  width:38%;
  display: inline-block;
  vertical-align:top;
  height: 100%;
}

.right {
  width:61%;
  display: inline-block;
  text-align:right;
  height: 100%;
}

.weather {
  width:70%;
  top: -38px;
  right: 0px;
  position: absolute;
  filter: opacity(100%) invert(1);
}

.time {
  font-size:9rem;
}

.merd {
  font-size:3rem;
}

.tiny {
  font-size:1rem;
}
.tinyday {
  width:50px;
  display:inline-block;
}

.day {
  font-size:3rem;
  display:block;
  margin-left:20px;
}

.date {
  font-size:2.5rem;
  display:block;
  margin-left:25px;
}

.weathernow {
  font-size:3.5rem;
  display:block;
  margin-top:65px;
  margin-left:25px;
  line-height:0.7;
}

.weathericon {
  width:100px;
  display:inline-block;
  top:26px;
  position:relative;
  fill: #fff;
}

.weatherdesc {
  font-size:1.5rem;
  display:block;
  margin-top:15px;
  margin-left:25px;
}
.weatherrain {
  font-size:2.2rem;
  display:block;
  margin-top:25px;
  margin-left:25px;
}
.weathermax {
  font-size:1.5rem;
  display:block;
  margin-left:25px;
}
.weathertomor {
  font-size:1.4rem;
  display:block;
  margin-top:65px;
  margin-left:25px;
  line-height:0;
}
.weathertomor .weathericon {
  width:36px;
  display:inline-block;
  top:10px;
  position:relative;
}

.dimmer-late-night-img {
  filter: opacity(0%);
}

.current {
  font-size:4rem;
  color: #fff;
  margin-left:20px;
}

.radio {
  padding:50px 0px 0px 25px;
}

#playPause {
  padding:30px;
  font-size:1.5rem;
  background:#444;
  color:#bbb;
  border:1px solid #222;
  border-radius:20px;
}

#playPause svg {
  width: 24px;
  height: 24px;
  top:3px;
  position:relative;
}
