* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 10px 10px 30px 10px;
  background:#000;
  color:#fff;
  font-family:sans-serif;
}

.container {
  height: 100%;
  vertical-align:top;
}

.left {
  width:38%;
  display: inline-block;
  vertical-align:top;
  height: 100%;
}

.right {
  width:61%;
  display: inline-block;
  text-align:right;
  height: 100%;
}

.weather {
  width:100%;
  float:right;
}

.time {
  font-size:7rem;
  display:block;
}

.merd {
  font-size:3rem;
}

.tiny {
  font-size:1rem;
}
.tinyday {
  width:35px;
  display:inline-block;
}

.day {
  font-size:3rem;
  display:block;
  margin-left:20px;
}

.date {
  font-size:2.5rem;
  display:block;
  margin-left:25px;
}

.weathernow {
  font-size:3.5rem;
  display:block;
  margin-top:15px;
  margin-left:25px;
  line-height:0.7;
}

.weathericon {
  width:60px;
  display:inline-block;
  top:10px;
  position:relative;
}

.weatherdesc {
  font-size:1.5rem;
  display:block;
  margin-top:15px;
  margin-left:25px;
}
.weatherrain {
  font-size:1.5rem;
  display:block;
  margin-left:25px;
}
.weathermax {
  font-size:1.5rem;
  display:block;
  margin-left:25px;
}
.weathertomor {
  font-size:1rem;
  display:block;
  margin-top:15px;
  margin-left:25px;
  line-height:0;
}
.weathertomor .weathericon {
  width:30px;
  display:inline-block;
  top:10px;
  position:relative;
}

.dimmer-day {
  color: #ccc !important;
  fill: #ccc !important;
}

.dimmer-night {
  color: #666 !important;
  fill: #666 !important;
}

.dimmer-late-night {
  color: #222 !important;
  fill: #222 !important;
}

.dimmer-day-img {
  filter: opacity(100%) invert(1);
}

.dimmer-night-img {
  filter: opacity(50%) invert(1);
}

.dimmer-late-night-img {
  filter: opacity(0%) invert(1);
}




